<app-nav-frame (sidenavToggle)="sidenav.toggle()"></app-nav-frame>

<div class="container">
    <div class="header">
        Волонтерство
    </div>
    <div class="content">
        <div class="real-img"></div>
        <div class="text-content" >
            
            Волонтерство - добровольная помощь. Помощь может быть разной: непосредственно в приюте и удаленной.
            В  приюте Вы можете выгуливать собак, дарить им общение, внимание и ласку. Социализировать собак, приучать к поводку.
             
            Если у Вас нет возможности приезжать в приют, но есть желание помогать, Вы можете заниматься размещением объявлений
             о пристройстве животных приюта. Именно благодаря объявлениям собаки находят хозяина и уезжают домой.

            Вы можете стать волонтером при регистрации на сайте или поставив галочку в личном кабинете. 
            В личном кабинете будут приходить специальные уведомления для волонтеров. 
           
        </div>          
    </div>