<app-nav-frame (sidenavToggle)="sidenav.toggle()"></app-nav-frame>
<body>
<mat-card>
    <mat-card-title>Вход</mat-card-title>
<mat-card-content>
<form #f="ngForm" class="container">
  <p>
    <mat-form-field>
        <input matInput name="login"
        placeholder="Логин"
        type="text"
        [(ngModel)]="login">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
        <input matInput name="password"
        type="password"
        placeholder="Пароль"
        [(ngModel)]="password">
    </mat-form-field>
  </p>

  <div class = "button">
      <button class = "md-cust-btn-reg" 
      mat-button type = "submit" routerLink="/registration">Регистрация</button>
      
      <button class = "md-cust-btn"  mat-raised-button type='button' 
       color="primary" (click)="doTest()" > Вход </button>
  </div>

</form>
</mat-card-content>
</mat-card>
</body>