.main{
    margin-top: 50px;
    height: 100%;
}

.md-cust-btn{
    width: 100%;
}
.list1{
    display: inline-block;
    height: 20%;
}

.content{
    margin-left: 100px;
    display: inline-block;
    height: 75%;
}

