<app-nav-frame (sidenavToggle)="sidenav.toggle()"></app-nav-frame>

<div class="container">
    <div class="header">
        Контакты
    </div>
    <div class="content">
        <div class="real-img"></div>
        <br class="text-content" >
            
            По всем вопросам: 
            Электронная почта - 
            ushastiki@gmail.com
            Социальные сети:

            Instagram: @ushastiki

            Вконтакте: vk.com/ushastiki

            Одноклассники: ok.ru/ushastiki
            Telegram: t.me/ushastiki
            Facebook: facebook.com/ushastiki
            Телефон: 22-22-22
           
        </div>          
    </div>