<div class="modal-frame">
    <div class="image-pet"></div>
    <div class="description-pet">
            <mat-form-field>
                <mat-label>Живут ли с Вами маленькие дети?</mat-label>
                <mat-select [(ngModel)]="selectedChild">
                  <mat-option value="true">Да</mat-option>
                  <mat-option value="false">Нет</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Живут ли с вами другие питомцы?</mat-label>
                <mat-select [(ngModel)]="selectedPet">
                  <mat-option value="true">Да</mat-option>
                  <mat-option value="false">Нет</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Вы проживаете в частном доме?</mat-label>
                <mat-select [(ngModel)]="selectedHouse">
                  <mat-option>Любой</mat-option>
                  <mat-option value="true">Да</mat-option>
                  <mat-option value="false">Нет</mat-option>
                </mat-select>
              </mat-form-field>
            
          <div class = "button">
            <button class = "md-cust-btn"  mat-raised-button type='button' 
             color="primary" (click)="doReqGive()" routerLink="/animals" > Забрать питомца </button>
         </div>
    </div> 
</div>
