<app-nav-frame (sidenavToggle)="sidenav.toggle()"></app-nav-frame>

<div class="tabl-animals" id = "div-animals"  >
    <mat-card class="card-cont" *ngFor="let animal of animals" [hidden] = "formData[0].display == true"  >
       <mat-card-title>{{animal.name}}</mat-card-title>     
       <mat-card-content class="item1">
   
    </mat-card-content>
    </mat-card>
    <!--<ngb-pagination class="d-flex justify-content-center" 
    [collectionSize]="collectionSize" 
    [pageSize]="itemsPerPage"
     [(page)]="page" 
     [boundaryLinks]="true" 
     (pageChange)="onPageChanged($event)">
    </ngb-pagination>-->
</div>
